/* @media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: #fff;
  } */
/* } */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;


}
.navbar{
  height: 15vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 20%;
}
.navbar ul{
  display: flex;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.navbar li{
  display:inline-block;
  justify-content: space-between;
}
.navbar a{
  text-decoration: none;
  padding: 5px 20px;
  color: #252525;
  text-align: center;
  
}
.flag{
  height: 45px;
  width: 45px;
  display: flex;
  margin-top: -80px;
  margin-left: 90%;
}
.nav-bar{
  display: flex;
  align-items: center;
  padding: 0% 5%;
  background: #ffd600;
  gap:40px;
  height: 15vh;

}
nav{
  display: flex;
  align-items: center;
  padding: 0% 5%;
  gap:40px;

}
nav a{
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}
nav button{
  width: 150px;
  height: vh;
}
.icons{
  display:flex;
  color: #000;
}
.row{
  display: flex;
  gap: 5%;
}
.select{
  border-width: 2px;
  border-style: solid;
  padding: 20px 40px;
  color: #fff;
  border-color: whitesmoke;
  border-radius: 10px; 
  height: 74vh;
  margin-top: 10px;
} 
.constructor{
  color: #000;
}

h1{
  font-size: 14px;
  font-weight: 500;
}
.search{
  outline: none;
  border: none;
  height: 4vh;
}
.sel-btn{
  background: #ffd600;
  width: 100px;
  height: 5vh;
  outline: none;
  border: none;
  border-radius: 5px;
}

.iconic{
  position: absolute;
  right: 20px;
margin-top: -10px;
}
.btn{
  padding: 5px 25px;
  background: black;
  font-weight: bold;
  color: white;
  display: inline-block;
  align-items: center;
  margin-left: 30%;
  border-radius: 10px;
}
.page{
  display: flex;
  gap: 20px;
  padding: 10px;

}

.select{
  border-width: 2px;
  border-style: solid;
  padding: 20px 40px;
  color: #fff;
  border-color: whitesmoke;
  border-radius: 10px;
  
} 
.constructor{
  color: black;
}
h{
  font-size: 50px;
  text-align: center;
  margin-left: 15%;
  
}

/* products */
.container{
  place-items:center;
}
.container1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header{
  width: 100%;
  text-align: center;
}
.header h1{
  font-size: 2em;
  text-transform: uppercase;
  color:black;
}
.products{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.product{
  position: relative;
  width: 260px;
  height: 300px;
  box-shadow: 0 5px 20px rgba(0,0, 0, .3);
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  padding: 20px 20px 20px;
  border-radius: 10px;


}
.image{
  height: 60% ;
  display: grid;
  place-items: center;

}
.image img{
  width: 180px;
}
.namePrice{
  display: block;
  justify-content: space-between;
}
.namePrice h3{
font-size: 10px;

}
.namePrice span{
  color: red;
}
.stars{
  font-size: 10px;
  color:#ffd600;
}
.cart{
  position: absolute;
  bottom: 20px;
  right: 20px;

}
.container2{
  margin-top: 10%;
  justify-content: space-around;
}

.series{
  text-align: center;
  font-size: 50px;
  color: black;
  justify-content: space-between;
  margin-top: 110px;

}

.series2{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;

}

.series3{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px; 
}
.series4{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;
}
.starwars{
  background-image: url(images/star\ war.jpeg);
  border-radius: 50px;
  width: 30%;
}
.marvel{
    background-image: url(images/avengers.jpeg);
    border-radius: 50px;
    width: 30%;
    height: 25vh;
    margin-bottom: 10px;
}
.avatar{
  background-image: url(images/Avatar\ Photo\ Gallery.jpeg);
  border-radius: 25px;
  width: 30%;
  height: 25vh;
}
.harry{
  background-image: url(images/Harry\ Potter\ .jpeg);
  border-radius: 35px;
  width: 30%;
  height: 25vh;
  margin-top: 10px;
}
.DC{
  background-image: url(images/justice.jpeg);
  border-radius: 45px;
  width: 30%;
  height: 25vh;
  
}
.Ninja{
  background-image: url(images/ninja.png);
  border-radius: 25px;
  width: 30%;
  height: 25vh;
}
.IDEAS{
  background-image: url(images/Temple.jpeg);
  border-radius: 25px;
  width: 30%;
  height: 30vh;
}
.disney{
  background-image: url(images/castle.jpeg);
  border-radius: 40px;
  width: 30%;
  height: 25vh;
  margin-top: 10px;
}
.light{
  background-image: url(images/light.jpeg);
  border-radius: 45px;
  width: 30%;
  height: 25vh;
  margin-top: 10px;
}
.duplo{
  background-image: url(images/DUPLO.jpeg);
  border-radius: 35px;
  width: 30%;
  height: 25vh;
  margin-top: 10px;
}

#btn4{
  padding: 15px 80px;
  border-radius: 10px;
  background-color: #FFD600;
  color: #fff;
  margin-top: 10%;
  border-color: #FFD600;
  

}
.container3{
  margin-top: 10%;
  height: 90vh;
}

.content{
  background-color:#ffd600 ;
  width: 100%;
  height: 30vh;
}
.footer{
  background-color: #26004c;
  color: #fff; 
  height: 50vh;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer-col{
  width:25% ;
  padding: 10px; 
}
.footer-col h4{
  font-size:14px ;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight:100px ;
  position: relative;

}
 .footer-col h4::before{

  position: absolute;
  background-color: #e9e9e9;
  height: 2px;
  box-sizing: border-box;
  

}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 10px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  display: inline-block;
}
/* catalog */
.icon{
  color: #fff;
}

.container4{
  margin-top:5%;
  width: 100vw;
  height: 230vh;
}

#bottom{
  border-bottom: 1px solid#fff;
  border-top: 1px solid#fff;
  display: inline;
  justify-content: baseline;
}
.catalog{
  background-color: #fff;
  height: 20vh;
  margin-top: 20px;
  
}
.home{
  background-color: #2b2b2b;
  height: 25vh;
  color: #fff;
}

#star{
  display: flex;
  justify-content: center;
margin-top: -50px;
margin-left: 30%;
}


.card{
  border-width: 5px;
  border-style: solid;
  padding: 20px 10px;
  border-color:whitesmoke;
  height: 150vh;
  width: 12%;
  margin-top: -40%;
  }
  .movies{
    float: right;
    padding: 0 10%;
    justify-content: space-between;
    width: fit-content;
  
  }
  .movie1{
    display: flex;
  }
  .movie2{
    display: flex;
  }
  .movie3{
    display: flex;
  }
  .movie4{
    display: flex;
  }
  
  .checked{
    color: orange;
  }
  .jedi{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .price{
    display: flex;
  }
  .outerrim{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .amanda{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .monop{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .imperial{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .imperial1{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .monopoly{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .out{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .deck{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .unlock{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .lego{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .xwing{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  .clonewars{
    border-width: 20px;
    border-radius: 5px;
    padding: 40px;
  }
  
  #bttn5{
    padding: 15px 80px;
    border-radius: 10px;
    margin-left: 48%;
    background-color: #FFD600;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 3%;
    border-color: #FFD600;
}
.features{
  padding: 50px 1%;
  font-size: 22px; 
  display: flex;
 }
.row{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.text-col{
  margin-bottom: 20px;
}
.img-col{ 
margin-bottom: 20px;
}
.img-col img{
  display: block;
  width: 100%;
  margin: auto;
}
.lego-planes{
  display: flex;
}
.parag{
  font-size: 15px;
  color: #58D68D;
}
.price{
  font-size: 18px;
  padding: 2px;
}
.price1{
  color: orange;
  padding: 1px 5px;
}
.price2{
  color:grey;
  text-decoration: line-through;
  padding: 1px 5px;
}
.box{
  font-size: 16px;
  color: #252525;
  padding:5px 10px;
  justify-content: space-between;
}
.box1{
  padding: 2px 8px;
  outline: none;
  border: none;
  background: gainsboro;
  border-radius: 8px;
  margin-right: 10px;
  
}
.box2{
  padding: 2px 8px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #FFD600;
  margin-left: 10px;
}
.heart{
  position:absolute;
  margin-left: 10%;
  margin-top: -2.5%;
  padding: 3px;
  width: 30px;
}
.info{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}
.info1{
  width: 15%;
  height: 8vh;
  background: #FFD600;
}
.info2{
  width: 15%;
  height: 8vh;
  background: #fff;
}
.paragraph{
  border-top: solid #e9e9e9;
  text-align: center;
}
.lego1{
 outline:none;
 border:solid #ffd600;
 border-radius: 10px;
 margin-left: 20%; 
}
.lego-2{
  outline:none;
  border:solid #ffd600;
  border-radius: 10px;
  margin-left: 8%; 
}
.lego3{
  outline:none;
  border:solid #ffd600;
  border-radius: 10px;
  margin-left: 40%;
}
.delivery{
  display: flex;
  font-size: 15px
}
.col1{
  display:block;
  margin-top: 20px;
  padding: 10px;
  line-height: 4vh;
}
.col2{
  display:block;
  margin-top: 20px;
  padding: 10px;
  line-height: 2.5vh;
}
.addresses{
  text-decoration: underline;
  color: red;
}
.deli{
  color: aqua;
}
.foot{
  width: 100%;
  
}
/* product page */
.p-page{
  display: grid;
  padding: 20px;
  
}


#btn3{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fff;
  color:black;
  border-color: #fff;
}
#btn2{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ffd600;
  color:black;
  border-color: #fff;
}
.amount{
  float: right;
  width: 50%;
  margin-top: -25%;
  border-width: 2px;
  border-style: solid;
  color:black;
  border-color: whitesmoke;
  border-radius: 10px; 
  height: 50vh;
  padding: 30px;
  
}
#price{
  justify-content: space-between;
}
.order1{
  margin-left:15%;
  margin-top: -30%;
}
.one{

  padding-left:20% ;
  margin-top: -3%;

}
.two{
  padding-left:20% ;
  margin-top:-3% ; 
}
.three{
  padding-left:20% ;
  margin-top:-3% ;
}
#p1{
  color: grey;
  text-decoration: line-through;
}




/* confirm order */
.container5{
  /* display: flex; */

}
h1{
  font-size: 20px;
}
.contact{
  margin-top:-8% ;
}
.user details{
  float: left;
}

/* order form */
.order{
  float: right;
  margin-top: -10%;
  margin-right: 100px;
  border-width: 2px;
  border-style: solid;
  padding:  40px;
  color: #000;
  border-color: whitesmoke;
  border-radius: 10px; 
  height: 74vh;

}
.save{
outline: none;
outline: none;
border: none;
height: 4vh;

}
.promo{
outline: none;
border: none;
height: 4vh;
}
.order-btn{
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #ffd600;
  color:black;
  border-color: #fff;
}




.payment{
  display: inline-flex;
  gap: 50px;
  margin-left: 15%;
  margin-top: -5%;
}
.sele{
  /* margin-left: 250px; */
  font-size: 3px;
}
.paygo{
margin-top: 20%;
/* font-size: 30px; */
gap: 200px;
}
.icony{
margin-top: 20%;
color: grey;
}
.end{
  color: grey;
  margin-left: 30%;
}





/* media query for navbar */
@media screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar li {
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .navbar a {
    display: block;
    padding: 10px 0;
  }
  
  .flag {
    display: none;
  }
  
  .nav-bar {
    height: auto;
    padding: 20px;
  }
  
  nav a {
    font-size: 30px;
  }
  .imglego{
    display: none;
  }
  .FIND{
    display: none;
  }
  .content{
    margin-top:90% ;   
  }
  
.card{
  border-width: 5px;
  border-style: solid;
  padding: 20px 10px;
  border-color:whitesmoke;
  height: 150vh;
  width: 50%;
  margin-top: -160px;
}
  
 
  
  
}


/* media query for product page */
@media screen and (max-width: 768px)and(min-width: 1020px) {
  .p-page {
    display: block;
    padding: 10px;
  }
  
  .amount {
    width: 100%;
    margin-top: 0;
    height: auto;
  }
  
  .order1 {
    margin-left: 0;
    margin-top: 10%;
  }
  
  .one, .two, .three {
    padding-left: 10%;
    margin-top: 5%;
  }
}





 
  
 


