@media (min-width: 600px) and (max-width: 768px) {
  body {
    background-color: #fff;
  }
}


*{
  margin: auto;
  padding: 0;

}

.title{
  background-color: #fff;
}
nav1{
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  height:10px ;
}

nav1 ul{
  list-style: none;
  width: 100%;
  text-align: center;

}
nav1 ul li{
  display: inline-block;
  
}
nav1 ul li a{
  color:black;
  text-decoration: none;
}
.title2{
  background-color: #ffd600;
  width: 100%;
  height: 15vh;
}
nav2{
  width: 100%;
  justify-content: space-between;
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 15px;

  
}
nav{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; 
}

nav ul{
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 40px;
}
nav ul li{
  display: inline-block;
  
}
nav ul li a{
  color:black;
  text-decoration: none;
  
}
.btn{
  padding: 5px 30px;
  background: black;
  font-weight: bold;
  color: white;
  display: inline-block;
  align-items: center;
}
#selector{
  border-radius: 100px;
  padding: 2px;
  border-color: #ffd600;
  
} 

h{
  font-size: 50px;
  text-align: center;
  
}
series{
  text-align: center;
  font-size: 50px;
  color: black;
}

.series2{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;

}

.series3{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;


  
}
.series4{
  display: flex;
  justify-content: space-between;
  padding-inline: 80px;
  
}
.btn{
  align-items: center;
  padding: 10px 20px;
  background:#ffd600;
  outline: none;
  border: none;
  font-weight: bold;
  color: white;

}

.content{
  background-color:#ffd600 ;
  width: 100%;
  height: 30vh;
}
.footer{
  background-color: #26004c;
  color: #fff;
}
